
table.entity {
  width: 100%;

  border-collapse: collapse;

  font-family: 'InputMono', 'Consolas', monospace;
}

table,
th,
td {
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
}

th,
td {
  padding: 0;

  border-style: none solid solid none;

  text-align: left;
  vertical-align: top;
}

table.entity table.entity td:last-child,
table.entity table.entity thead th:last-child {
  border-right-style: none;
}

table.entity table.entity tr:last-child td,
table.entity table.entity thead tr:last-child th {
  border-bottom-style: none;
}

th,
td {
  padding: 0.25em 0.5em;
}

thead th {
  color: #ccc;
  font-weight: normal;

  background: #333;
}
